.Summary {
  padding: 20px;
}

.Summary__title {
  text-align: center;
}

.Summary__question-container {
  margin: 20px 0;
}

.Summary__question {
  color: rgb(1, 64, 146);
}

.Summary__answer {
  color: rgb(3, 151, 3);
}
